<div class="center">
    {{#if nombre}}
    <div>
        {{> hbs/bienvenido}}
    </div>
    {{/if}}
    <div>
        {{> hbs/formularioHbs}}
        {{> hbs/productosHbs}}
    </div>

    <h3>Hola! envia un mensaje :D</h3>
    <div>
        <form id="formulario">
            <input type="email" id="userName" placeholder="Tu correo..."/>
            <input type="text" id="userText" placeholder="Cuenta algo..."/>
            <input type="submit" value="Enviar"/>
        </form>
    </div>
    <div id="mensajes">
        <div class="mensajeContenedor">
            <h4 class="tittleMensaje">Laura@gmail.com</h4>
            <div class="mensajeTexto">
                <p class="horaMensaje">01-11-2022 10:11:74</p>
                <p class="texto">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea obcaecati, sit laboriosam qui nam nemo a distinctio tempora, quisquam nihil molestiae impedit. Quaerat dolor autem repellat quisquam distinctio! Eius, ut!</p>
            </div>
        </div>

    </div>
</div>