<div class="center">
    {{#if nombre}}
    <div>
        {{> hbs/bienvenido}}
    </div>
    {{/if}}
    <div>
        {{> hbs/formularioHbs}}
        {{> hbs/productosHbs}}
    </div>
    {{#if nombre}}
    <h3 class="tittle_formulary">Aqui puedes hablar con personas que esten conectadas a la pagina</h3>
    <div id="mensajes">
        <div class="mensajeContenedor">
            <h4 class="tittleMensaje">Laura@gmail.com</h4>
            <div class="mensajeTexto">
                <p class="horaMensaje">01-11-2022 10:11:74</p>
                <p class="texto">¡Bienvenido al chat de la pagina!</p>
            </div>
        </div>
    </div>
    
    <div>
        <form id="formulario">
            <input type="text" id="userName" class="formulario_input" value="{{nombre}}" disabled/>
            <input type="text" id="userText" class="formulario_input" placeholder="Cuenta algo..." minlength="1"/>
            <input type="submit" class="button_detalle2" value="Enviar"/>
        </form>
    </div>
    {{/if}}
</div>